<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <p:panelGrid id="dialogincludePanelGrid">
                <p:row>
                    <p:column>
                        <p:autoComplete id="autoComplete"
                                value="#{entity1View.edit.entity1}"
                                completeMethod="#{entity1View.completeSearchText}"
                                var="editEntity1"
                                itemValue="#{editEntity1}"
                                itemLabel="#{editEntity1.name}">
                            <f:validateBean disabled="true"/>
                        </p:autoComplete>
                    </p:column>
                </p:row>
            </p:panelGrid>
        </ui:composition>
    </h:body>
</html>

