<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <h:form id="mainForm">
                <ui:include src="/WEB-INF/dialogs/dialog.xhtml">
                </ui:include>
                <p:commandButton id="openDialogButton"
                        value="Open dialog"
                        onsuccess="PF('dialog').show();">
                </p:commandButton>
            </h:form>
        </ui:composition>
    </h:body>
</html>

