<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      lang="en">
    <h:head>
        <title>Project1</title>
    </h:head>
    <h:body>
        <ui:include src="/WEB-INF/includes/main.xhtml">
        </ui:include>
    </h:body>
</html>

