<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition>
            <p:dialog id="dialogId" widgetVar="dialog">
                <h:panelGroup id="editModePanel" layout="block">
                    <p:selectOneButton id="creationModeSelectButton"
                            value="#{entity1View.creationMode}">
                        <f:selectItems value="#{entity1View.creationModes}"
                                var="creationMode"
                                itemLabel="#{creationMode.representation}"/>
                        <p:ajax update="dialogPanelGrid"
                                listener="#{entity1View.onCreationModeChange}"/>
                    </p:selectOneButton>
                </h:panelGroup>
                <p:panelGrid id="dialogPanelGrid">
                    <p:row rendered="#{entity1View.displayAdvancedModeComponents()}">
                        <p:column>
                            <ui:include src="/WEB-INF/includes/dialoginclude.xhtml">
                            </ui:include>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:dialog>
        </ui:composition>
    </h:body>
</html>

